.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}

.additional__header {
  position: relative;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.additional__header::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: $green-300;
}

.additional__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__title {
  position: relative;
  z-index: 2;
  width: max-content;
  font-size: 24px;
  line-height: 24px;
  background-color: $default-white;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

.additional__list {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $grey-900;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border: 2px solid $grey-900;
    padding: 28px 38px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $grey-200;
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

.additional__item:last-child {
  border-bottom: 1px solid $grey-900;
}

.additional__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.additional-box {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 894px;
  }
}

.additional-box__title {
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.additional__attributes {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.additional__attributes {
  display: flex;
  justify-content: space-between;
}

.addinational__offer {
  min-width: 280px;
  height: 290px;
  background-color: rgba(104, 183, 56, 1);
  background-image:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/offer-background.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 200px;
    background-image:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/offer-background-tablet.jpg");
    background-size: cover;
  }
}

@media (min-resolution: 2dppx) {
  .addinational__offer {
    background-color: rgba(104, 183, 56, 1);
    background-image:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/offer-background @2x.jpg");
    background-size: cover;
  }
}

.additional__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    min-width: 280px;
  }
}

