.advantages {
  margin-bottom: 50px;
}

.advantages__title {
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 37px;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 250px;
  }
}
