.advantages {
  margin-bottom: 50px;
}

.advantages__title {
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  counter-reset: advantages-counter;

  @media (min-width: $tablet-width) {
    gap: 37px;
  }
}

.advantages__item {
  position: relative;
  height: 280px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    width: 250px;

    &::after {
      position: absolute;
      left: 125px;
      top: 40px;
      font-size: 280px;
      line-height: 280px;
      color: $grey-200;
      counter-increment: advantages-counter;
      content: counter(advantages-counter);
    }
  }
}

.advantages__item--leaf {
  background-image: url(../img/leaf.svg);
}

.advantages__item--washing {
  background-image: url(../img/washing.svg);
}

.advantages__item--cutlery {
  background-image: url(../img/cutlery.svg);
}

.advantages__item--clock {
  background-image: url(../img/clock.svg);
}
