.advantages {
  margin-bottom: 50px;
}

.advantages__title {
  line-height: 40px;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  counter-reset: advantages-counter;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 37px;
  }
}

.advantages__item {
  position: relative;
  background-repeat: no-repeat;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 230px;
    min-height: 280px;
    padding: 0;
    padding-top: 100px;

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 280px;
      line-height: 200px;
      color: $grey-200;
      z-index: -2;
      counter-increment: advantages-counter;
      content: counter(advantages-counter);
    }
  }
}

.advantages__item--leaf {
  background-image: url("../img/leaf.svg");
}

.advantages__item--washing {
  background-image: url("../img/washing.svg");
}

.advantages__item--cutlery {
  background-image: url("../img/cutlery.svg");
}

.advantages__item--clock {
  background-image: url("../img/clock.svg");
}
