.catalog__container {
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.catalog__title {
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.catalog__item--to-all {
  border-bottom: 1px solid $grey-900;
}

.catalog__item {
  border-top: 1px solid $grey-900;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog-cards--to-all {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 511px;
    background: none;
    padding-top: 96px;
  }
}
