.catalog__container {
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.catalog__title {
  line-height: 36px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 84px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.catalog__item {
  border-top: 1px solid $grey-900;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__item--to-all {
  border-bottom: 1px solid $grey-900;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
