.example {
  background-color: $grey-100;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $grey-100 30%, $default-white 30%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $grey-100 80%, $default-white 80%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 55px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__subtitle {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    width: 436px;
    gap: 55px;
    padding-bottom: 75px;
  }
}

.example__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 43px;
  margin-bottom: 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;
  align-items: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px $grey-700;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__number {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 15px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.example__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  width: 77px;
  background-color: $grey-100;
  padding: 0 5px;
  margin-bottom: -10px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $default-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-100;
  }
}

.example__result {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}
