.footer {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    position: relative;
  }
}

.footer-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 565px;
    background-color: $default-white;
    padding: 60px 79px;
  }
}

.footer-location-catalog {
  background-color: $grey-200;

  @media (min-width: $desktop-width) {
    background-color: $default-white;
  }
}

.footer iframe {
  width: 100%;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 42px 20px;
  background-color: $grey-200;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    margin: 0;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer-location__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-location__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }
}

.footer-location__map {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.footer__logo-text {
  display: block;
  mask-image: url("../img/sprite2.svg#logo-text");
  width: 118px;
  height: 21px;

  &:hover {
    background-color: $black-300;
  }

  &:active {
    opacity: 30%;
  }
}

.footer__social {
  width: 100%;
  border-top: 1px solid $grey-900;
  padding-top: 20px;
  border-bottom: 1px solid $grey-900;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    justify-content: end;
    gap: 23px;
  }
}

.footer-copyright__link {
  font-size: 16px;
  line-height: 20px;
  width: max-content;
  color: $color-font;

  &:active {
    opacity: 30%;
  }
}

.social__link--vk {
  display: block;
  mask-image: url("../img/sprite2.svg#vk");
  background-color: $bg-grey;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: $green-300;
  }

  &:active {
    opacity: 30%;
  }
}

.social__link--youtube {
  display: block;
  mask-image: url("../img/sprite2.svg#youtube");
  background-color: $bg-grey;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: $green-300;
  }

  &:active {
    opacity: 30%;
  }
}

.social__link--telegram {
  display: block;
  mask-image: url("../img/sprite2.svg#telegram");
  background-color: $bg-grey;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: $green-300;
  }

  &:active {
    opacity: 30%;
  }
}

.footer-copyright__svg {
  mask-image: url("../img/sprite2.svg#logo-htmlacademy");
  background-color: $bg-grey;
  width: 27px;
  height: 34px;

  &:hover {
    background-color: $green-300;
  }

  &:active {
    opacity: 30%;
  }
}
