.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer-location {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 565px;
    background-color: $default-white;
    padding: 60px 79px;
  }
}

.footer-location-catalog {
  background-color: $grey-200;

  @media (min-width: $desktop-width) {
    background-color: $default-white;
  }
}

.footer-location-map {
  width: 100%;
  height: auto;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background-color: $grey-200;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    margin: 0;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer-location__title {
  font-size: 16px;
  line-height: 20px;
  width: 163px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-location__adress {
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-copyright {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    justify-content: end;
    gap: 23px;
  }
}

.footer-copyright__link {
  font-size: 16px;
  line-height: 20px;
  color: $color-font;
}
