.form-cat {
  color: $default-black;
}

.form-cat__title {
  margin-bottom: 37px;
  padding-top: 27px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form-cat__subtitle {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form-cat__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.info-cat {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.info-cat__control {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.info-cat__item {
  display: flex;
  align-items: center;
}

.info-cat__field {
  width: 100%;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.info-cat__field::placeholder {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 29px;
    }
}

.program-choise {

  @media (min-width: $tablet-width) {
    padding: 27px;
    padding-top: 23px;
    border: 1px solid $grey-300;
    margin-bottom: 45px;
  }
}

.program-choise__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px;
}

.program-choise__input {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 14px 15px;
}

.owner-data {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.owner-data__title {
  position: relative;
  z-index: 2;
  width: max-content;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  background: $default-white;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.line__header {
  position: relative;
}

.line__header::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: $green-300;
}

.owner-data__inner {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.owner-data__box {
  display: flex;
  align-items: center;

}

.owner-data__control {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-data__input {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-transform: uppercase;
  padding: 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-data__input::placeholder {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.comment {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.comment__title {
  position: relative;
  z-index: 2;
  width: max-content;
  background-color: $default-white;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 87px;
  }
}

textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 14px;
  padding-left: 15px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
  line-height: 30px;
  }
}

.additional-form__title {
  position: relative;
  z-index: 2;
  width: max-content;
  background-color: $default-white;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
}

.additional-form__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.additional-form__control {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.additional-form__button-box {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    gap: 80px;
    margin-bottom: 80px;
  }
}

.additional-form__sign {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}
