.form-cat {
  color: $default-black;
}

.form-cat__title {
  margin-bottom: 37px;
  padding-top: 27px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form-cat__info .title {
  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }
}

.form-cat__subtitle {
  font-family: $font-secondary;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form-cat__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form-cat__program {
  border-top: 1px solid $grey-900;
  border-bottom: 1px solid $grey-900;
  margin-bottom: 26px;
}

.line__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: $green-300;
}
