.header-navigation {
  position: relative;
  width: auto;
  z-index: 2;
}

@media (max-width: $mobile-width-only) {
  .header-navigation--closed .header-navigation__item {
    display: none;
  }

  .header-navigation--nojs .header__toggle {
    display: none;
  }
}

.header-navigation__list {
  position: absolute;
  background-color: $default-white;
  top: 35px;
  left: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 33px;
    background: none;
  }
}

.header-navigation__item {
  @media (min-width: $tablet-width) {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $green-300;
      }
    }
  }
}

.header-navigation__list--index .header-navigation__item {
  @media (min-width: $desktop-width) {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $default-white;
      }
    }
  }
}

.header-navigation__list a {
  position: relative;
  display: block;
  padding: 10px;
  color: $default-black;
  text-transform: uppercase;
  border-bottom: 1px solid $grey-600;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.header-navigation__list--index a {
  @media (min-width: $desktop-width) {
    color: $default-white;
  }
}

.header-navigation__link {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
