.header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.logo {
  width: 33px;
  height: 38px;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
