.header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header--catalog {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-900;
    margin-bottom: 27px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.header__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: $default-white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle--nojs {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $default-black;
  box-shadow: 0 8px 0 0 $default-black, 0 16px 0 0 $default-black;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $default-black;
    z-index: 3;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
