.header {
  position: relative;
  border-bottom: 1px solid $grey-600;

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 11px;
  padding-bottom: 12px;

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.logo {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}


.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
