.hero {
  background-image:
    url("../img/hero-background-mobile.jpg"),
    linear-gradient(to bottom, $bg-green 64%, $default-white 64%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 308px, 100% 100%;
  margin-bottom: 20px;

  @media (min-resolution: 2dppx) {
    background-image:
    url("../img/hero-background-mobile@2x.jpg"),
    linear-gradient(to bottom, $bg-green 64%, $default-white 64%);
  }

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/hero-background-desktop.jpg"),
      linear-gradient(to left, $bg-green 50%, $default-white 50%);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50% auto, 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image:
      url("../img/hero-background-desktop@2x.jpg"),
      linear-gradient(to left, $bg-green 50%, $default-white 50%);
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    min-height: 692px;
  }
}

.hero__title {
  line-height: 36px;
  text-align: center;
  color: $default-white;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $default-black;
    text-align: left;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    max-width: 460px;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 224px;
    padding-left: 80px;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $default-white;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $default-black;
    text-align: left;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    max-width: 460px;
    padding: 0;
    padding-left: 80px;
  }
}

.hero__product {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 215px;
    left: 150px;
    font-size: 20px;
    line-height: 26px;
    min-width: max-content;
    padding: 14px 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 375px;
    left: 110px;
  }
}
