.hero {
  background-image:
    url("../img/hero-background-mobile.jpg"),
    linear-gradient(to bottom, $bg-green 64%, $default-white 64%);
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 20px;

  // @media (min-resolution: 2dppx) {
  //   background-image:
  //     linear-gradient(to bottom, $green 63%, $default-white 63%),
  //     url("../img/hero-background-mobile @2x.jpg");
  //     background-repeat: no-repeat;
  //     background-position: top center;
  //     background-size: 320px 302px;
  // }

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/hero-background-desktop.jpg"),
      linear-gradient(to left, $bg-green 50%, $default-white 50%);
    background-repeat: no-repeat;
    background-position: right;
  }

  // @media (min-resolution: 2dppx) {
  //   background-image: url("../img/hero-background-desktop @2x.jpg");
  //   background-size: contain;
  // }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    height: 692px;
  }
}

.hero__title {
  line-height: 36px;
  text-align: center;
  color: $default-white;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $default-black;
    text-align: left;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 159px;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $default-white;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $default-black;
    text-align: left;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.hero__product {
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
  }
}

.hero__button {
  padding: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 215px;
    left: 150px;
    min-width: max-content;
    padding: 14px 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 375px;
    left: 110px;
  }
}
