.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "product title"
    "product attributes"
    "button button";
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 324px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
    background: linear-gradient(to top, $grey-200 80%, $default-white 80%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.product-card__image {
  grid-area: product;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product-card__button {
  grid-area: button;
  width: 100%;

  &:hover {
    background-color: $green-200;
  }
}

.product-card__title {
  grid-area: title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product-card__title--to-all {
  text-align: center;
}

.product-card__link-title {
  color: $color-font;
}

.product-card__subtitle {
  margin-bottom: 20px;
  text-align: center;
}

.product-card__attributes {
  grid-area: attributes;
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 4px;
    border-bottom: 1px solid $grey-900;
  }
}

.product-card__attributes:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.product-card--to-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 16px;
    left: 1px;
    padding-top: 115px;
    border: 2px solid $grey-200;
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
  }
}

.product-card__inner--to-all {
  margin: 0 auto;
}

.product-card__button--to-all {
  color: $color-font;
  background-color: $grey-200;

  &:hover,
  &:active {
    background-color: $grey-500;
  }
}

.product-card__picture {
  display: block;
  background-image: url("../img/plus.svg");
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}
