.programs {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.programs__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs-weight {
  position: relative;
  background-color: $grey-200;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
  padding-right: 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 55px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs-weight__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 90px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-weight__decription {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs-weight--slim::before {
  position: absolute;
  content: "";
  display: block;
  top: 21px;
  left: 27px;
  background-image: url("../img/slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 65px;
    left: 60px;
    right: auto;
  }
}

.programs-weight--pro::before {
  position: absolute;
  content: "";
  display: block;
  top: 21px;
  left: 27px;
  background-image: url("../img/pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 70px;
    left: 50px;
    right: auto;
  }
}

.programs-weight__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $default-black;
  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    background-image: url("../img/sprite.svg#icon-arrow");
    width: 24px;
    height: 12px;
  }

  &:hover {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
  }
}
