.programs-weight {
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 20px;
  padding: 30px 20px 18px 20px;
}

.programs-weight__title {
  font-family: "Oswald" sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.programs-weight__decription {
  margin-bottom: 38px;
}

.programs-weight__link {
  font-family: "Oswald" sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color:rgba(0, 0, 0, 1);
  text-transform: uppercase;
}
