.slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__before-wrapper,
.slider__after-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__before-wrapper {
  z-index: 2;
  background-color: $grey-100;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $grey-100 294px, $default-white 294px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $grey-100 351px, $default-white 351px);
  }
}

.slider__after-wrapper {
  z-index: 1;
}

.slider__img-after,
.slider__img-before {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__range-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 3;
  width: 20px;
}

.slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40px;
  height: 40px;
  background-image: url("../img/slider.svg#slider");
  background-color: $bg-grey;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: url("../img/slider-hover.svg");
  }
}


.slider__line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
  width: 4px;

  background-color: $bg-grey;
}

.slider__button:hover + .slider__line,
.slider__button:focus + .slider__line {
  background-color: $green-300;
}
