// Цвета
$color-font: #444444;
$default-white: #ffffff;
$default-black: #000000;
$black-100: #111111;
$green:rgba(104, 183, 56, 0.85);
$green-200: #5eaa2f;
$green-300: #68b738;
$green-400: rgba(100, 167, 60, 0.85);
$bg-green: #63a73c;
$grey-100: #eaeaea;
$grey-200: #f2f2f2;
$grey-300: #e7e7e7;
$grey-600: #e6e6e6;
$grey-700: #cdcdcd;
$grey-900: #d9d9d9;
$bg-grey: #666666;


$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Verdana", sans-serif;
