// Цвета
$color-font: #444444;
$default-white: #ffffff;
$default-black: #000000;
$green:rgba(104, 183, 56, 0.85);
$green-200: #5eaa2f;
$green-300: #68b738;
$grey-100: #eaeaea;
$grey-200: #f2f2f2;
$grey-600: #e6e6e6;
$grey-900: #d9d9d9;


$tablet-width: 768px;
$desktop-width: 1440px;
