@import "common/variables";
@import "common/fonts";
@import "common/global";
@import "common/visually-hidden";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/header-navigation";
@import "blocks/hero";
@import "blocks/programs";
@import "blocks/advantages";
@import "blocks/example";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/catalog";
@import "blocks/product-card";
@import "blocks/additional";
@import "blocks/form-cat";
@import "blocks/additional-form";
@import "blocks/comment";
@import "blocks/owner-data";
@import "blocks/program-choise";
@import "blocks/info-cat";
